* {
    color: #000;
    font-weight: 300;
    font-family: 'Roboto Mono', monospace;    font-size: 15px;
};

.block-for-nodestat-main {
    width: 100%;
    height: 100%;
}

.head-table {
    font-weight: 600;
    color: #000;

}

.no-wrap-in-table {
    white-space: nowrap;

}

.table {
     height: ($spacer * .25) !important;
}

tr {
    line-height: 18xpx;
    min-height: 18px;
    height: 18px;
}

.header-main {
    height: 65vh;  
    margin-left: 10vh;
}

.logo-main { 
    font-size: 60px !important;
    font-weight: 700!important; 
    color: #000;
    font-family: 'Roboto Mono', monospace;
    margin-top: 215px;
} 

.logo-mini-main {
    font-size: 60px !important;
    font-weight: 200!important; 
    color: #000;
    font-family: 'Roboto Mono', monospace;
    margin-top: -40px;
}

.logo-mini-about-main {
    font-size: 21px !important;
    font-weight: 200!important; 
    color: #000;
    font-family: 'Roboto Mono', monospace;
    margin-top: 20px;
}

th {
    position: -webkit-sticky;
    position: sticky;
    background-color: #fff!important;
    box-shadow: inset 0px -1px 0px #dee2e6;;
}

th:not([scope=row]) {
    position: -webkit-sticky;
    position: sticky!important;
    top: 0!important;
    z-index: 2!important;
}

.hr-visible0 {
    position: -webkit-sticky;
    position: sticky;
    opacity: 1;
    border-color: #fff;
}

.hr-visible0:not([scope=row]) {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.name-site-link {
    text-decoration: none!important;
    color: #000!important;
    font-weight: 400;
}

.name-site-link:active, 
.name-site-link:hover {
    text-decoration: none;
    font-weight: 500;
}

.footer {
    height: 13vh;
}

.logo-footer-main {
    margin-top: ;
    font-weight: 600;
    font-size: 25px;
    text-decoration: none!important;
    color: #000!important;
}

.hr-for-footer {
    margin-top: 80px;
}

.header-pers-page {
    height: 6vh;
    margin-top: 8px!important;
    position: -webkit-sticky;
    position: sticky;
    background-color: #fff
    
}

.header-pers-page:not([scope=row]) {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.name-pers-page {
    font-size: 70px;
    font-weight: 500;
    text-decoration: none!important;
    color: #000!important;
    margin-top: 6vh;
}

.name-pers-page:active, 
.name-pers-page:hover {
    text-decoration: none;
    font-weight: 500;
}

.description-pers-page {
    font-size: 22px;
    font-weight: 400;
}

.capacity-pers-page {
    margin-top: 6vh;
    font-size: 40px;
    font-weight: 400;
}

.channelcount-pers-page {
    font-size: 40px;
    font-weight: 400;    
}

.rankcapacity-pers-page {
    font-size: 40px;
    font-weight: 400;   
}

.rankchannel-pers-page {
    font-size: 40px;
    font-weight: 400;    
}

.rankage-pers-page {
    font-size: 40px;
    font-weight: 400;    
}

.container-for-data-pers-page {
    height: 100vh;
}

.text-for-parameters {
    margin-top: 80px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 30px;
}

.div-for-contact {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 25px;
    text-decoration: none!important;
    color: #000;
}

.div-for-contact:active, 
.div-for-contact:hover {
    text-decoration: none;
    color: #000;
}

.container-for-contacts {
    margin-top: 170px;
 }

.word-contacts {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 37px;
}